<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-aronia" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Aronia</name>
    <js-module name="Aronia" src="www/Aronia.js">
        <clobbers target="Aronia" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">

        </config-file>
        <config-file parent="/*" target="config.xml">
            <feature name="Aronia">
                <param name="ios-package" value="Aronia" />
            </feature>
        </config-file>
        <header-file src="src/ios/bridgeHeader.h" />
        <source-file src="src/ios/Aronia.swift" />
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Aronia">
                <param name="android-package" value="cordova-plugin-aronia.Aronia" />
            </feature>
            <uses-permission android:name="android.permission.CAMERA"/>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/Aronia.java" target-dir="src/cordova-plugin-aronia/Aronia" />
    </platform>
</plugin>